@font-face {
    font-family: "Archivo";
    src: local("Archivo");
    src: url(fonts/Archivo-VariableFont_wdth\,wght.ttf) format(truetype) tech(variations);
    src: url(fonts/Archivo-VariableFont_wdth\,wght.ttf) format(truetype);
    font-display: swap;
    font-weight: 100 900;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src:local("Atkinson Hyperlegible");
    src: url(fonts/AtkinsonHyperlegible-Regular.ttf) format(truetype);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src:local("Atkinson Hyperlegible");
    src: url(fonts/AtkinsonHyperlegible-Bold.ttf) format(truetype);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src:local("Atkinson Hyperlegible");
    src: url(fonts/AtkinsonHyperlegible-Italic.ttf) format(truetype);
    font-display: swap;
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible";
    src:local("Atkinson Hyperlegible");
    src: url(fonts/AtkinsonHyperlegible-BoldItalic.ttf) format(truetype);
    font-display: swap;
    font-weight: 700;
    font-style: italic;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --body_max_width: 43.75rem;
    --font_monospace: monospace;
    --font_header_weight: 600;
    --font_headers: 'Archivo', 'Inter', Helvetica, sans-serif;
    --font_headings_weight: 600;
    --font_headings: 'Archivo', 'Inter', Helvetica, sans-serif;
    --font: 'Atkinson Hyperlegible', 'Inter', Helvetica, sans-serif;
    --fontsize_base: clamp(1rem, 0.7894736842105263rem + 1.0526315789473684vw, 1.25rem);
    --fontsize_header: 1.25rem;
    --fontsize_label: 1rem;
    --fontsize_title: 2.25rem;
    /*Font size for portfolio labels*/
    --fontsize_h1: clamp(2.75rem, 2.1184210526315788rem + 3.1578947368421053vw, 3.5rem);
    --fontsize_h2: clamp(1.75rem, 0.9078947368421053rem + 4.2105263157894735vw, 2.75rem);
    --fontsize_h3: clamp(1.25rem, 0.618421052631579rem + 3.1578947368421053vw, 2rem);
    --fontsize_h4: clamp(1.25rem, 1.0394736842105263rem + 1.0526315789473684vw, 1.5rem);
    --fontsize_h5: clamp(1.125rem, 1.0197368421052633rem + 0.5263157894736842vw, 1.25rem);
    --fontsize_chip: clamp(0.75rem, 0.5394736842105263rem + 1.0526315789473684vw, 1rem);

    --focus_border: 3px solid var(--font_color);

    --fontweight_title: 600;
    --font_color: #000;
    --font_color_focus: #ffdd00;
    --color_link: #1d70b8;
    --color_link_hover: #003078;
    --color_link_visited: #4c2c92;
    --color_code: #d13118;

    --line_height_p: clamp(1.6rem, 1.2631578947368423rem + 1.6842105263157892vw, 2rem);
    --line_height_h1: clamp(2.75rem, 2.1184210526315788rem + 3.1578947368421053vw, 3.5rem);
    --line_height_a_chip: clamp(1.25rem, 1.0394736842105263rem + 1.0526315789473684vw, 1.5rem);
    --line_height_h3_6: clamp(2rem, 1.1578947368421053rem + 4.2105263157894735vw, 3rem);


    /* Margins*/
    --margin_h1: .5rem 0 2rem 0;
    --margin_h2: 0 0 clamp(0.75rem, -0.30263157894736836rem + 5.263157894736842vw, 2rem) 0;
    --margin_h3_6: 0 0 clamp(0.75rem, 0.11842105263157898rem + 3.1578947368421053vw, 1.5rem) 0;
    --margin_p: 0 0 1.5rem;
    --margin_ul_ol: 0 0 clamp(1rem, 0.5789473684210527rem + 2.1052631578947367vw, 1.5rem);
    --margin_li: 0 0 .6rem;
    --margin_p_h2: clamp(2rem, 0.5263157894736843rem + 7.368421052631578vw, 3.75rem);
    --margin_p_h3: clamp(2rem, 1.1578947368421053rem + 4.2105263157894735vw, 3rem);
    --margin_header: 0 0 calc(2rem - 1vw) 0;
    --margin_main_btm: 1rem;
    --padding_main: 1rem 0;
    --padding_body: 4vw;

    --nav_selected: #00000080;
    --nav_border_btm: 5px solid black;
    --betterwords_sq: #ff4f0f;
    --nav_a_margin: 0 .75rem .75rem 0;
    --color_blockq: #b3b3b330;

    --tag_contdes: #ff4f0fe3;
    --tag_access: #7fffd4;
    --tag_language: #91e0ff;

    /*Dark mode*/
    /*--dark_color_bg: #232323;*/
    --dark_color_bg: #202228;
}


html {
    color: var(--font_color);
    overflow-x: hidden;
    padding: var(--padding_body);
    margin-right: calc(-1 * (100vw - 100%));
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    font-family: var(--font);
    font-size: var(--fontsize_base);
    margin: 0 auto;
    max-width: var(--body_max_width);
    word-wrap: break-word;
}

main {
    word-break: break-word;
    margin-bottom: var(--margin_main_btm);
}

.cell {
    min-width: 10rem;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: .313rem;
}

/* Header */
header {
    margin: var(--margin_header);
    border-bottom: 1px solid var(--font_color);
}

/* Navigation */
nav {
    display: flex;
}

nav a {
    font-family: var(--font_headers);
    font-size: var(--fontsize_header);
    font-weight: var(--font_header_weight);
    line-height: var(--nav_a_line_height);
    margin: var(--nav_a_margin);
    width: fit-content;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: var(--font_color);
}

nav a:active {
    background-color: var(--font_color_focus);
}

nav a:hover {
    color: var(--font_color);
    border-bottom: var(--focus_border);
}

nav a:first-child {
    margin-left: 0;
    margin-top: 0;
}

nav a:last-child {
    margin-right: 0;
}

a:focus,
nav a:focus {
    border-bottom: var(--focus_border);
    color: black;
    text-decoration: none;
}

nav a,
nav a:visited {
    color: var(--font_color);
}

#title {
    font-weight: var(--fontweight_title);
    margin-right: auto;
}

#title::before {
    content: "";
    background-color: var(--betterwords_sq);
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
}

.navselected {
    border-bottom: var(--focus_border);
}

.label {
    font-size: var(--fontsize_label);
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
code,
ul,
ol,
iframe,
.media-container,
.content-width {
    margin: 25px none;
    line-height: var(--line_height_p);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font_headings);
    font-weight: var(--font_headings_weight);
    line-height: var(--line_height_h1);
}

h3,
h4,
h5,
h6 {
    line-height: var(--line_height_h3_6);
    margin: var(--margin_h3_6);
}

h1 {
    font-size: var(--fontsize_h1);
    margin: var(--margin_h1);
}

h2 {
    font-size: var(--fontsize_h2);
    margin: var(--margin_h2);
}

h3 {font-size: var(--fontsize_h3);}

h4 {font-size: var(--fontsize_h4);}

h5 {font-size: var(--fontsize_h5);}

h6 {
    font-size: var(--fontsize_h5);
    font-weight: 400;
}

p~h2 {margin-top: var(--margin_p_h2);}

p~h3 {margin-top: var(--margin_p_h3);}

p:has(+ ul),
p:has(+ ol) {
    margin-bottom: .6rem;
}

/* Writing */
a {
    color: var(--color_link);
}

a:hover {
    color: var(--color_link_hover);
    text-decoration-thickness: max(3px, .1875rem, .12em);
}

a:visited {
    color: var(--color_link_visited);
}

a:focus{
    background-color: var(--font_color_focus);
}

p,
li {
    font-family: var(--font);
    font-size: var(--fontsize_base);
}

ul,
ol {
    padding: 0;
    padding-left: 1.75rem;
    margin: var(--margin_ul_ol);
}

li {
    margin-bottom: 8px;
    list-style-type: disc;
    margin: var(--margin_li);
}

#landing p,
#landing ul,
#landing ol,
#landing li {
    margin: 0;
    list-style: none;
}

#landing ul {
    padding-left: 3rem;
}

p {
    margin: var(--margin_p);
}

.small {
    font-size: 14px;
    line-height: 16px;
}

hr {
    border: 0;
    border-bottom: 1px solid var(--font_color);
    margin: 25px 0;
}

blockquote {
    border-left: 1rem solid #8a8a8a;
    background-color: var(--color_blockq);
    padding: 1rem;
    margin: 1rem 0rem;
}

figure img {
    width: 100%;
}

figcaption {
    font-size: .75rem;
    line-height: var(--line_height_p);
}

code, pre {
    font-family: var(--font_monospace);
    padding: 0 3px;
    font-size: 1rem;
    display: inline;
    background-color: var(--color_blockq);
    color: var(--color_code);
}

pre {
    display: block;
    overflow-x: auto;
}

h1:has(+ time) {
    margin-bottom: 1rem;
}

time {
    display: inline-block;
}

h1+time {
    margin: 0 0 2rem 0;
}

/* Projects */
#projects {
    display: flex;
    flex-flow: row wrap;
    gap: .875rem;
    margin-bottom: 5.625rem;
}

#projects a span.label {
    font-family: var(--font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    font-size: .875rem;
    max-width: max-content;
    margin-bottom: .313rem;
}

#projects div img {
    max-width: 100%;
}

#tag_content_design {background-color: var(--tag_contdes);}

#tag_accessibility {background-color: var(--tag_access);}

#tag_language {background-color: var(--tag_language);}

tags {
    display: flex;
    flex-wrap: wrap;
}

tags+h1 {
    margin-top: 1rem;
}

.chip {
    border-radius: 1.188rem;
    margin: .2rem .5rem .2rem 0;
    padding: .05rem .5rem;
    font-size: var(--fontsize_chip);
    text-decoration: none;
}

a.chip {
    line-height: var(--line_height_a_chip);
    color: var(--font_color);
}

a.chip:hover {
    text-decoration: underline;
}

a.chip:focus {
    border: 0px;
    background-color: var(--font_color_focus) !important;
    color: black;
}

.skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip:focus {
    position: absolute;
    width: fit-content;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}

#contactform {
	margin: 0 auto;
	max-width: 500px;
}

#contact-submit, #contactform input, #contactform textarea {
	border-radius: .25rem;
	border: 2px solid var(--font_color);
	font-family: var(--font);
	font-size: var(--fontsize_base);
	line-height: var(--line_height_p);
	padding: .25rem .5rem;
    color: var(--font_color);
    background-color: transparent;
}

#contact-submit:focus, #contactform input:focus, #contactform textarea:focus {
	border: 2px solid var(--font_color);
	outline: 4px solid var(--font_color_focus);
}

#contact-submit {
	background-color: var(--betterwords_sq);
	border-radius: 2rem;
	border: 2px solid transparent;
	color: white;
	font-family: var(--font_headers);
	font-weight: 600;
	padding: .5rem;
}

.contact_field {
	display: flex;
	flex-direction: column;
}

#contactform label {
	font-size: var(--fontsize_chip);
	margin: 0 0 .25rem 0;
}

/* Footer */
footer {
    border-top: 1px solid var(--font_color);
    margin: 0 0 clamp(0.75rem, -0.30263157894736836rem + 5.263157894736842vw, 2rem) 0;
}

footer p {
    width: 100%;
    max-width: 100%;
    margin: 15px 0;
}


/* Letterbird contact form */
.letterbird-embed {
    min-height: 460px !important;
    border-radius: unset !important;
    box-shadow: unset !important;
}

/* Mobile */
@media(max-width: 400px) {
    nav {
        flex-wrap: wrap;
    }

    #title {
        width: 100%;
        font-size: 1.5rem;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --color_border: #696969;
        --color_box_shadow: #444;
        --color_link: #bebebe;
        --color_link_visited: #989898;
        --color_link_hover: #979797;
        --font_color: #fff;
        --nav_selected: #ffffff80;
        --tag_contdes: #a7340a;
        --tag_access: #39b48b;
        --tag_language: #4b97b5;
    }

    html {
        background-color: var(--dark_color_bg);
    }

    .info-field,
    code {
        background-color: #575757a5;
        border-color: #9d9d9d3c;
    }

    nav a:focus, a:focus, #landing a:focus {
        color: black;
        border-bottom: 3px solid black;
    }

}